.vs/
SporeAccounting/obj/
SporeAccounting/bin/
Test/bin/
Test/obj/
.idea/
/.sonarqube
SP.IdentityService/obj/
SP.IdentityService/bin/
SP.Common/obj/
SP.Common/bin/
SP.CurrencyService/obj/
SP.CurrencyService/bin/
SP.FinanceService/obj/
SP.FinanceService/bin/