.vs/
SporeAccounting/obj/
SporeAccounting/bin/
Test/bin/
Test/obj/
.idea/
/.sonarqube
SP.IdentityService/obj/
SP.IdentityService/bin/
SP.Common/obj/
SP.Common/bin/
SP.CurrencyService/obj/
SP.CurrencyService/bin/
SP.FinanceService/obj/
SP.FinanceService/bin/
SP.ConfigService/obj/
SP.ConfigService/bin/
SP.Gateway/obj/
SP.Gateway/bin/
SP.Common/SP.Common.csproj.user
SP.Config/SP.ConfigService.csproj.user
SP.FinanceService/SP.FinanceService.csproj.user
SP.CurrencyService/SP.CurrencyService.csproj.user
SP.IdentityService/SP.IdentityService.csproj.user
SP.Gateway/SP.Gateway.csproj.user
SporeAccounting.sln.DotSettings.user