
.vs/SporeAccounting/FileContentIndex/ec40521a-04bc-41f7-b513-195065924062.vsidx
.vs/SporeAccounting/v17/.suo
.vs/SporeAccounting/v17/DocumentLayout.json
SporeAccounting/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
SporeAccounting/obj/Debug/net8.0/SporeAccounting.AssemblyInfo.cs
SporeAccounting/obj/Debug/net8.0/SporeAccounting.AssemblyInfoInputs.cache
SporeAccounting/obj/Debug/net8.0/SporeAccounting.assets.cache
SporeAccounting/obj/Debug/net8.0/SporeAccounting.csproj.AssemblyReference.cache
SporeAccounting/obj/Debug/net8.0/SporeAccounting.GeneratedMSBuildEditorConfig.editorconfig
SporeAccounting/obj/Debug/net8.0/SporeAccounting.GlobalUsings.g.cs
SporeAccounting/obj/project.assets.json
SporeAccounting/obj/project.nuget.cache
SporeAccounting/obj/SporeAccounting.csproj.nuget.dgspec.json
SporeAccounting/obj/SporeAccounting.csproj.nuget.g.props
SporeAccounting/obj/SporeAccounting.csproj.nuget.g.targets
.vs/SporeAccounting/FileContentIndex/61a924da-f9bb-4c7f-90a1-76e0d2ddb775.vsidx
/.vs
SporeAccounting/bin/Debug/net8.0/SporeAccounting.dll
SporeAccounting/bin/Debug/net8.0/SporeAccounting.exe
SporeAccounting/bin/Debug/net8.0/SporeAccounting.pdb
SporeAccounting/bin/Debug/net8.0/SporeAccounting.xml
SporeAccounting/obj/Debug/net8.0/ApiEndpoints.json
SporeAccounting/obj/Debug/net8.0/apphost.exe
SporeAccounting/obj/Debug/net8.0/ref/SporeAccounting.dll
SporeAccounting/obj/Debug/net8.0/refint/SporeAccounting.dll
SporeAccounting/obj/Debug/net8.0/SporeAccounting.csproj.CoreCompileInputs.cache
SporeAccounting/obj/Debug/net8.0/SporeAccounting.csproj.FileListAbsolute.txt
SporeAccounting/obj/Debug/net8.0/SporeAccounting.dll
SporeAccounting/obj/Debug/net8.0/SporeAccounting.genruntimeconfig.cache
SporeAccounting/obj/Debug/net8.0/SporeAccounting.MvcApplicationPartsAssemblyInfo.cs
SporeAccounting/obj/Debug/net8.0/SporeAccounting.pdb
SporeAccounting/obj/Debug/net8.0/SporeAccounting.sourcelink.json
SporeAccounting/obj/Debug/net8.0/SporeAccounting.xml
SporeAccounting/obj/rider.project.model.nuget.info
